@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus-within~label,
input:not(:placeholder-shown)~label {
    @apply transform scale-75 -translate-y-6;
    transition: transform 0.3s ease;
}

label {
    transition: transform 0.3s ease;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(6 182 212 / var(--tw-text-opacity)), rgb(6 182 212 / var(--tw-text-opacity)))
}

.link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%
}

.link-underline-active {
    background-size: 100% 2px;
    background-position: 0 100%;
}